.container{
    display: grid;
    grid-template-columns: 150px 1fr;
    border: 2px solid black;
}
.items{
    display: grid;
    grid-template-rows: 125px 125px 125px 125px;
    justify-content:space-evenly ;
    align-items: center;
}
