/*
verde o: #7DF0BB
azul m: #7DD8F0
azul c: #7DF0E3
verde c: #7DF094
azul o: #7DB4F0
*/
body { 
    font-family: 'Franklin Gothic Medium';
    background-color: #7DD8F0;
}
.buscador{
    text-decoration: none;
    justify-content: space-between;
    text-align: right;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegacion{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}
.principal{
    display: flex;
    flex-direction: column;
    width: 90rem;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    margin: auto;
}
.clases{
    display: flex;
    flex-direction: column;
    border: 1px solid black;

}
.clasessecu{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.imgclases{
    width: 400px;
    transition: all 0.3s ease-in-out ;

}
.imgclases:hover{
    border: 1px solid #7df0e350;
    transform: scale(1.1);
}
.txt{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}